@charset "utf-8";

.titleimg{
    background-image: url("../image/head.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1540px;
    background-attachment: fixed;
    width: 100vw;
    transition: 0.5s ease 0s;
    animation: load 0.5s;
}

.titleimg .title{
    width: 100vw;
    padding-top:12vw;
    padding-left: 10vh;
    font-size: 13vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:900;
    color: rgba(18, 0, 105);
}
.titleimg .p1{
    width: 100vw;
    font-family:'幼圆';
    font-weight: bold;
    font-size: 20px;
    padding-left: 350px;
    color: rgba(18, 0, 105);
}

.main{
    scroll-snap-type: y mandatory;
    overflow:hidden;
    overflow-x: hidden;
    height: 200vh;
}


