@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: right;
    width: 100vw;
    height: 70px;
    top: 0px;
    background-color: rgb(153,130,172);
    overflow: hidden;
    font-size: 20px;
    color: rgb(255,255,255,0.9);
    opacity: 0.5;
    z-index: 1000;
}
.homenav{
    transition: 0.7s;
}

nav:hover{
    opacity: 0.9;
}
nav .navtitle{
    font-size: 35px;
    font-weight: 300;
    padding-left: 30px;
    width: 50%;
}
nav .navtitle strong{
    font-size: 50px;
    font-weight: 500;
}
nav a{
   font-size: 20px;
   display: block;
   justify-content: right;
   text-decoration: none;
   z-index: 1;
   height: inherit;
   line-height: 70px;
   width: 120px;
   text-align: center;
   font-weight: bolder;
   color: rgba(116, 16, 197, 0.651);
   transition: 0.5s;
}
nav .navanim{
    position: absolute;
    height: inherit;
    z-index: 0;
    background: rgb(247,184,179);
    border-radius: 5px;
    left: 0px;
    transition:  all .4s ease 0s;
    width: 0px;
}
nav .home,a:nth-child(2):hover~.navanim{
    width: 120px;
    left: 52.4vw;
}

nav .about,a:nth-child(3):hover~.navanim{
    width: 120px;
    left: 59.2vw;
}

nav .blog,a:nth-child(4):hover~.navanim{
    width: 120px;
    left: 66.1vw;
}

nav .album,a:nth-child(5):hover~.navanim{
    width: 120px;
    left: 72.8vw;
}

nav .none{
    width: 20%;
}

@keyframes load2{
    0%{
        top: -80px;
        opacity: 0;
    }100%{
        top: 0px;
        opacity: 0.8;
    }
}